
/* @font-face {
  font-family: 'Acumin';
  src: url('fonts/AcuminVariableConcept.ttf') format('woff');
  font-style: normal;
  font-display: swap;
} */
@font-face {
  font-family: 'Nisssan';
  src: url('fonts/subset-NissanBrandW01-Regular.woff2') format('woff2');
  font-style: normal;
  font-display: swap;
}

html, body {
  width:970px;
  height:250px;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.hidden {
  opacity: 0;
  visibility: hidden;
}

.absolute {
  position:absolute;
  top: 0px;
  left: 0px;
}

.full-width {
  position:absolute;
  left: 0px;
  top: 0px;
  width: 970px;
  height: auto;
}

#main,
#background {
  position:absolute;
  left:0px;
  top:0px;
  width:970px;
  height:250px;
  background-color: #C1D8DE;
}

#main {
  overflow:hidden;
}

#copy1, #copy2{
  position: absolute;
  left: 59px;
  top: 25px;
  width: 262px;
}
#copy2{
  width: 346px;
  height: auto;
  top: 104px;
  left: 189px;
}
#copy3{
  font-family: 'Nisssan';
  position: absolute;
  color: #c4002f;
  left: 559px;
  top: 125px;
  font-size: 14.1px;
  line-height: 17px;
}
.copy4{
  position: absolute;
  left: 5px;
  top: 237.4px;
  font-family: 'Nisssan';
  color: #c4002f;
  font-size: 7.1px;
  line-height: 9px;
}

.cta {
  position: absolute;
  left: 559px;
  top: 191px;
  width: 133px;
  height: 36px;
}
.ch{
  position: absolute;
  left: 0px;
  top: 0px;
  scale: 8.5;
}

.ch1{
  width: 117px;
  left: 189px;
  top: 104px;
}
.ch2{
  width: 55px;
  left: 311px;
  top: 104px;
}
.ch3{
  width: 74px;
  left: 372px;
  top: 104px;
}
.ch4{
  width: 67px;
  left: 452px;
  top: 105px;
}
.ch5{
  width: 14px;
  left: 521px;
  top: 156px;
}

.frame {
  width: 970px;
  height: 250px;
  position: absolute;
  left: 0px;
  top: 0px;
}

#bgExit {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  cursor: pointer;
  z-index: 99999;
  background-color: rgba(255,255,255,0);
  border:1px solid #000000;
  box-sizing:border-box;
  -ms-box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
}
